body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: #FEE4CD;
    font-family: 'Montserrat', sans-serif;

}




/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {

    body {
        overflow: hidden;
    }


    /*-----MAIN TITLE AND IMAGE-----*/
    .tap_service_text {
        position: relative;
        color: #FF8764;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;

    }

    .title_img_wrap {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .title_txt_img {
        height: 115px;
        margin: 20px auto 0px;

    }

    .hair_image {
        width: 120px;
        height: 180px;
        margin: 0 auto;
    }

    /*-----//  MAIN TITLE AND IMAGE-----*/
    /*-----SERVICES LIST-----*/

    .service_list {
        list-style: none;
        margin: 0;
        padding: 0;
        bottom: 0;
        height: 100%;
    }

    .service {
        position: relative;
        width: 75%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 1.2em;
        font-weight: 500;
        color: #fff;
        transition: 0.2s;
        background-color: rgb(255, 136, 100);
        transform: rotate(0deg);
    }


    .men_women_HS {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        background-color: #FF8764;

    }

    .men_women_fadein {
        position: absolute;
        width: 100%;
        height: 31%;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        background-color: #FF8764;

        display: none;
    }


    .men_hair_image {
        width: 100px;
        height: 70%;
        border-radius: 10px;
        display: flex;
        background-color: #FEE4CD;
    }

    .mens_hair_icon {
        height: 75px;
        margin: auto;
    }

    .rotateMe {
        transform: rotate(-90deg);
    }

    /*-----//  SERVICES LIST-----*/


}

/*-----HOVERS AND SUCH-----*/

.service:active {
    background-color: rgb(255, 136, 100);
}

.back_button:active {
    transform: translate(15px);
}