body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: #FFD9B8;
    font-family: 'Montserrat', sans-serif;
}




/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {


    /*-----MAIN TITLE AND IMAGE-----*/
    .tap_service_text {
        position: relative;
        color: #FF8764;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;

    }

    .title_img_wrap {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .title_txt_img {
        height: 115px;
        margin: 20px auto 0px;

    }

    .hair_image {
        width: 120px;
        height: 180px;
        margin: 0 auto;
    }

    /*-----//  MAIN TITLE AND IMAGE-----*/
    /*-----SERVICES LIST-----*/

    .service_list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .service {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 1.2em;
        font-weight: 500;
        color: #fff;
        transition: 0.2s;
        background-color: rgba(255, 136, 100, 0.26);

    }

    /*-----//  SERVICES LIST-----*/
}

/*-----HOVERS AND SUCH-----*/

.service:active {
    background-color: rgb(255, 136, 100);
}