body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: #FFD9B8;
    font-family: 'Montserrat', sans-serif;
}




/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    

    .tap_service_text {
        position: relative;
        color: #FF8764;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        
    }

    .title_img_wrap {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .title_txt_img {
        height: 115px;
        margin: 20px auto 0px;
        
    }

    .hair_image {
        width: 120px;
        height: 180px;
        margin: 0 auto;
    }

    .service_list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .service {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 1.2em;
        background-color: #FFF5EE;
    }
}

/*-----HOVERS AND SUCH-----*/

.service:active {
    opacity: 0.5;
}